extends ../layout/base
block content
	section.content-header
		h1
			| Draw with friend
			small
	section.content
		.box
			.box-header.with-border
				h3.box-title
					| Subject
				.box-tools.pull-right
					button(type='button', data-widget='collapse', data-toggle='tooltip',title='collapse').btn.btn-box-tool
						i.fa.fa-minus
			.box-body
				- if(messages.msg_info)
					.alert.alert-success.alert-dismissable
						button.close(type='button', data-dismiss='alert', aria-hidden='true')
							| ×
						h4
							i.icon.fa.fa-check
							| Success!
						| !{messages.msg_info}
				- if(messages.msg_error)
					.alert.alert-danger.alert-dismissable
						button.close(type='button', data-dismiss='alert', aria-hidden='true')
							| ×
						h4
							i.icon.fa.fa-ban
							| Alert!
						| !{messages.msg_error}
				a(href='subject/add').pull-left.btn.btn-primary
					i.fa.fa-plus
					|  Add Subject
				.data-table
					table.table.table-bordered
						tr
							th
								| No
							th
								| Title
							th
								| Search Url
							th
								| Action
							if messages.msg_error
								| !{messages.msg_error}
							else
								for row, index in data
									tr
										td #{index+1}
										td #{row.title}
										td
											p(style='max-width:700px;overflow:hidden;')
													| #{row.searchurl}
										td
											table
												tr
													td
											div(style='display:inline-block')
												a(href='/subject/edit/#{row.id}').btn.btn-sm.btn-primary
														i.fa.fa-edit
											td
												form(method='post', action='/subject/delete/#{row.id}')
													input(type="hidden",name="_method", value="DELETE")
													button.btn.btn-sm.btn-danger(type='submit')
														i.fa.fa-remove
